@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .heading-1 {
    @apply text-[80px] uppercase md:text-[150px];
  }

  .heading-2 {
    @apply text-[56px] uppercase md:text-[80px] lg:text-[100px];
  }

  .heading-3 {
    @apply text-[56px] uppercase;
  }

  .heading-4 {
    @apply text-[32px] uppercase;
  }

  .heading-5 {
    @apply font-barlow-condensed text-[16px] uppercase tracking-[2.7px] md:text-[20px] md:tracking-[3.38px] lg:text-[28px] lg:tracking-[4.75px];
  }

  .subheading-1 {
    @apply text-[28px] uppercase;
  }

  .subheading-2 {
    @apply font-barlow-condensed text-[14px] uppercase tracking-[2.36px];
  }

  .nav-text {
    @apply font-barlow-condensed text-[16px] uppercase tracking-[2.7px] md:text-[14px] lg:text-[16px];
  }

  .body-text {
    @apply font-barlow text-[15px] md:text-[16px] lg:text-[18px];
  }
}
